* {
    box-sizing: inherit;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
    height: 8px;
    background-color: #fff !important;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #9e9e9e;
}



body :focus {
    outline: none;
}

a {
    text-decoration: none !important;
}

body {
    scroll-behavior: smooth !important;
    font-family: 'Inconsolata', monospace;
    font-family: 'Montserrat', sans-serif;

}

.font-titulos {
    font-family: 'Inconsolata',
        monospace;
    font-weight: 600;
}

.font-parraf {
    font-family: 'Montserrat',
        sans-serif;
}

/*---------------
Nav
---------------*/
.flex-main {
    display: flex;
}

.teacher-icon {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.login_icon {
    width: 30px;

}

.header-icons {
    display: flex;
    margin-right: 10rem;
}

.header-shadow {
    box-shadow: 0px 0px 20px #00000008;
}

@media (max-width: 767px) {
    .offcanvas-collapse {
        position: fixed;
        top: 56px;
        /* Height of navbar */
        bottom: 0;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: hidden;
        background-color: #f9f8f2;
        transition: -webkit-transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out,
            -webkit-transform 0.3s ease-in-out;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    /**navbaar */
    body.offcanvas-expanded {
        overflow: auto !important;
    }

    .navbar {
        position: relative;
        z-index: 1;
        margin: 0;
        padding: 0;
        width: 100%;
        background: transparent;
        transition: .6s;
    }

    .hamburger:hover {
        opacity: 0.7;
    }

    .hamburger:focus {
        outline: 0px auto -webkit-focus-ring-color;
    }

    .hamburger-box {
        width: 40px;
        height: 24px;
        display: inline-block;
        position: relative;
    }

    .hamburger-inner {
        display: block;
        top: 50%;
        margin-top: -2px;
    }

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
        width: 35px;
        height: 3px;
        background-color: #000;
        border-radius: 3px;
        position: absolute;
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease;
    }

    .hamburger-inner::before,
    .hamburger-inner::after {
        content: "";
        display: block;
    }

    .hamburger-inner::before {
        top: -10px;
    }

    .hamburger-inner::after {
        bottom: -10px;
    }

    .hamburger--elastic .hamburger-inner {
        top: 5px;
        transition-duration: 0.275s;
        transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
        right: 5px;
    }

    .hamburger--elastic .hamburger-inner::before {
        top: 10px;
        transition: opacity 0.125s 0.275s ease;
    }

    .hamburger--elastic .hamburger-inner::after {
        top: 20px;
        transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .hamburger--elastic.is-active .hamburger-inner {
        transform: translate3d(0, 10px, 0) rotate(135deg);
        transition-delay: 0.075s;
    }

    .hamburger--elastic.is-active .hamburger-inner::before {
        transition-delay: 0s;
        opacity: 0;
    }

    .hamburger--elastic.is-active .hamburger-inner::after {
        transform: translate3d(0, -20px, 0) rotate(-270deg);
        transition-delay: 0.075s;
    }
}

@media (max-width: 767px) {
    .offcanvas-collapse.open {
        -webkit-transform: translateX(0rem);

        text-align: center;
        /* Account for horizontal padding on navbar */
    }
}

/****** */
.brand img {
    width: 150px;
}

.border-nav {
    border-right: 1px solid #0c0c0c26;
}

.nav-item {
    cursor: pointer;
    font-family: 'Inconsolata', monospace;
}

.flex-custom {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.menu-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-expand-md .navbar-nav .nav-link {
    color: #000;
    font-size: 14px;
    padding-left: 10px;
}

.w-nav {
    width: 100px;
}

/**********modaaal******************** */
.titulo {
    font-family: 'Inconsolata';
    font-weight: 600;
    font-size: 23px;
}

.content-titulo {
    text-align: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.info-regrister {
    display: grid;
    grid-template-columns: 15% 85%;

    text-align: start;
    width: 65%;
}

.info-regrister img {
    width: 30px;
}

.info-regrister {
    font-size: 12px;
}

.main-modal .form-check-label {
    font-size: 15px;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-custom {
    border: 1px solid #4674b8;
    background: #4674b8;
    color: #fff;
    padding: 6px 30px;
}

/***********check******* */
.check-inst {
    display: flex;
}

.check-inst label {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-right: 10px;
}

/*
@keyframes click-wave {
    0% {
      height: 20px;
      width: 20px;
      opacity: 0.35;
      position: relative;
    }
    100% {
      height: 200px;
      width: 200px;
      margin-left: -80px;
      margin-top: -80px;
      opacity: 0;
    }
  }*/

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;

    right: 0;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 20px;
    transition: all 0.15s ease-out 0s;
    background: transparent;
    border: 1px solid #000;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
}

.option-input:hover {
    background: #9faab7;
}

.option-input:checked {
    background: transparent;
    border: 1px solid #000;
}

.option-input:checked::before {
    height: 19px;
    width: 19px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 12px;
    text-align: center;
    line-height: 0px;
    color: black;
    left: 0;
}

.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #40e0d0;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}

.option-input.radio {}

.option-input.radio::after {}


/*****estep form** */
/* Style the form */


/* Style the input fields */
.check-inst input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
.check-inst input.invalid {
    background-color: #ffdddd;
}



/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

/* Mark the active step: */
.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #4CAF50;
}



.info-regrister--inst p {
    font-weight: 600;
    font-family: 'Inconsolata';
    font-size: 15px;
}

.info-regrister img {
    width: 23px;
}

.modal-footers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid #00000033;
}

.modal-footers .btn {
    border-right: 1px solid #00000033;
    border-radius: 0;
}

.contenido-select {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 13px;
}

.contenido-select-2 {
    grid-template-columns: 1fr 1fr;
}

.info-regrister-2 {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/************************************** */
.home-present {
    text-align: center;
}

h1 {
    font-family: 'Inconsolata';
    font-size: 35px;
    margin-bottom: 2rem;
}

h3 {
    font-family: 'Inconsolata';
}

.home-present p,
.categories-layout_title p {
    margin: 20px 0;
    font-size: 14px;
}

.search-home {
    border-radius: 30px;
    border: 1px solid #00000038;
    width: 40%;
    padding: 10px 40px;
}

.search-home:focus {

    border: 1px solid transparent;
    box-shadow: 0px 0px 12px #0000004f;

}

.hashtag-home {
    margin: 40px 0px;
}

.hashtag-home span {
    margin-right: 12px;
    color: #4674b8;
    font-size: 13px;
}

.icon-sear {
    margin-left: 18px;
    position: absolute;
    margin-top: 12px;
}

.check-inst-home {
    display: flex;
    align-items: self-start;
    flex-direction: column;
    text-align: start;
}

.abc-home {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.abc-home .abc-content {
    width: 32%;
    position: relative;
    margin-bottom: 1.5rem;
}

.abc-content p {
    margin: 0;
}

.abc-home strong {
    font-size: 30px;
    font-family: 'Inconsolata';
    position: absolute;
    left: -20px;
    top: -15px;
}

.word h3 {
    margin-bottom: 3rem;
}

.feactured-home {
    margin: 5rem 0;
}

.feactured-one {
    box-shadow: 0px 0px 14px #00000030;
    padding: 20px;
    border-radius: 10px;
}

.feactured-one .titulo {
    font-size: 20px;
    font-family: 'Inconsolata';
    line-height: .9;

}

.feactured-one .titulo span {
    font-size: 11px;
    color: #828282;
}

.abc-categories .abc-content {
    width: 16%;

}

/**********************profile*************** */
.main-profile_content {
    text-align: center;
    border-bottom: 1px solid #0000000f;
}

.main-dates {
    text-align: center;
    margin: 50px 0;

}

.main-dates p {
    font-family: 'Inconsolata';
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


.slider-nav {
    height: 25px;
    top: 8px;
}

.slider-nav::before {
    height: 18px;
    width: 18px;
}

.header-icons .flex-main {
    margin-right: 40px;
}

.wiki-accordion .card {
    border: 0;
}


.nav {
    width: 100%;
    top: 11%;
    left: -16%;
    background-color: transparent;
    position: absolute;
    border-radius: 2px;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    width: 300px;
}

.nav ul li ul {
    display: none;
    margin-top: 20px;
    left: 100px;
    position: fixed;
    border: 1px solid #f000;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #0006;
    padding: 11px;
    background: #fff;
    z-index: 99999;
    width: 200px;
    overflow: hidden;
}

.nav ul li ul li {
    display: block;
}

.menu-titulo {}

.nav ul li ul li:hover {
    background-color: #F4F4F4;
    position: relative;
}

.nav ul li ul li svg {
    margin-left: 20px;
    margin-right: 20px;
}

.nav li li {
    /* background-color: #FEFEFE;*/
}

.nav-fixed ul {
    display: block;
    background: white;
    width: 100%;
    border: 1px solid #0000;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #0000003d;
}

.nav-fixed .dropdown-toggle {
    font-size: 16px;
    font-family: 'Inconsolata';
    font-weight: 500;
    border-bottom: 1px #d7d9dd solid;
    white-space: initial;
    line-height: 1.5;
    padding-bottom: 10px;
}

.nav ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

.nav a {
    font-size: 16px;
    font-family: 'Inconsolata';
    font-weight: 500;
}

.home {
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    /* border-bottom: 1px #d7d9dd solid;*/
    position: relative;
}

.home svg {
    width: 20px;
    height: 20px;
    position: relative;
    top: 4px;
}

.home a:hover {
    color: #6d6c6c;
}

.home:hover .blue-box {
    background-color: #3FA6FD;
    position: absolute;
    margin-left: 0;
    height: 100%;
    width: 4px;
}

.home:hover #home {
    fill: #6d6c6c;
}

.settings {
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    border-top: 1px #d7d9dd solid;
}

.settings svg {
    width: 20px;
    height: 20px;
    position: relative;
    top: 4px;
}

.settings:hover a {
    color: #6d6c6c;
}

.settings:hover .blue-box {
    background-color: #3FA6FD;
    position: absolute;
    margin-left: 0;
    height: 100%;
    width: 4px;
}

.settings:hover #gear {
    fill: #6d6c6c;
}

.messages svg {
    width: 20px;
    height: 20px;
    position: relative;
    top: 4px;
}

.messages:hover a {
    color: #6d6c6c;
}

.nav-box_li:hover .blue-box {
    background-color: #9EC54C;
    position: absolute;
    margin-left: 0;
    height: 100%;
    width: 4px;
}

.nav-box_li {
    border-bottom: 1px #d7d9dd solid;
}

.messages:hover #mail {
    fill: #6d6c6c;
}

.hamburger {
    margin-right: 20px;
    margin-left: 20px;
}

.arrow {
    width: 0;
    height: 0;
    margin-left: 275px;
    border-right: 9px solid transparent;
    border-left: 9px solid transparent;
    border-bottom: 9px solid #FEFEFE;
    position: absolute;
    top: -9px;
}

.fa-chevron-up {
    margin-left: 110px;
}

.marked {
    background-color: transparent;
    border-radius: 2px;
}

.rotate {
    moz-transition: all 0.3s linear;
    webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.rotate.down {
    moz-transform: rotate(180deg);
    webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

/** */
.dropdown-menu {
    position: relative !important;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: initial;
    min-width: 10rem;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: center;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-radius: initial;
}

.main-creation img {
    width: 90px;
}

.flex-template {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-creation {
    height: 74vh;
    display: flex;
}

.main-creation p {
    font-size: 16px;
    padding: 0 50px;
    text-align: justify;
}

.menu-template {
    margin-top: 20px;
    left: 100px;
    position: fixed;
    border: 1px solid #f000;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #0006;
    padding: 11px;
    background: #fff;
    width: 250px;
    overflow: hidden;
}

.menu-template_option ul {
    padding: 0;
    margin: 0;
}

.menu-template_option p {
    border-top: 1px solid #0000000d;
    border-bottom: 1px solid #0000000d;
    padding: 10px;
    font-weight: 700;
    font-family: 'Inconsolata';
}

.menu-template_option li {
    font-size: 13px;
    margin-bottom: 10px;
}

.info-template ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
